[Animation]
Frames=5

[Appearance]
BackgroundColorOpacity=90
HideSkinBorders=true
Skin={{yakuake_custom_theme_name}}
TerminalHighlightOnManualActivation=true
Translucency=true

[Desktop Entry]
DefaultProfile=zsh.profile

[Dialogs]
FirstRun=false

[Window]
DynamicTabTitles=true
Height=100
KeepAbove=false
KeepOpen=false
Width=100